.logo{
     display:block;
     margin-right:auto;
     margin-left:auto;
    }
  #navbar{
	color:white;
	margin-left:46px;
        margin-top:5px;
        margin-right:46px;
	height:50px;
	text-align:center;
	line-height:50px;
	border-radius:10px;
	background-color:rgb(86,205,196);
	animation-name:example;
	animation-duration:7s;
	}
@keyframes example{	
	0%{ background-color:rgb(225,47,96);}
	25%{ background-color:rgb(223,74,223);}
	50%{ background-color:rgb(86,205,196);}
	100%{ background-color:rgb(251,46,40);}
		}
  

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background: white;
    font-size: 14px;
}

.container {
    width: 80%;
    margin: 50px auto;
}

.contact-box {
    background: rgb(250, 246, 246);
    display: flex;
}

.contact-left {
    flex-basis: 60%;
    padding: 60px 40px;
}

.contact-right {
    flex-basis: 40%;
    padding: 40px;
    background: #e0a627;
    color: white;
}

h1 {
    margin-bottom: 10px;
}

.container p {
    margin-bottom: 40px;
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group {
    flex-basis: 45%;
}

.input {
    width: 40%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}

textarea {
    width: 100%;
    border: 1px rgb(0, 0, 0);
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

label {
    margin-bottom: 6px;
    display: block;
    color: blue;
}

button {
    color: black;
    background-color: #e0a627;
    padding: 10px;
    border-radius: 50px;
    border-color: black;
}

button:hover {
    background-color: black;
    color: white;
}

.contact-left h3 {
    color: blue;
    font-weight: 600;
    margin-bottom: 30px;
}

.contact-right h3 {
    color: black;
    font-weight: 600;
    margin-bottom: 30px;
}

tr td {
    padding-right: 20px;
    color: black;
}

tr td {
    padding-top: 20px;
}

h3 {
    font-size: 50px;
    font-weight: 600;
}
 #first {
        background-color:white;
      
        margin-right:0px;
        
     
        border-radius:0px;
        }
#first ul{
           list-style:none;
       
           border-radius:0px;
           padding:0px;
           margin-top:10px;
           margin-right:0px;
           margin-bottom:0px;
           margin-left:0px;
           }
#first ul li{
             display:inline;
             float:left;
              margin-top:0px;
              margin-right:15px;
              margin-bottom:10px;
              margin-left:10px;
              padding-left:10px;
             }
      .button {
  background-color: orange;
  border: none;
  color: white;
  padding: 3px 3px 3px 3px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 15px;
  margin: 0px 0px;
  cursor: pointer;
  -webkit-transition-duration: 0.5s; /* Safari */
  transition-duration: 0.5s;
  }
 .button:hover {
  box-shadow: 0 0px 10px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  text-decoration:none;
      }
.inner {
    text-align: center;
    color: whitesmoke;
    overflow: hidden;
    padding: 0.6em;
}

.inner>h1 {
    font-size: 3.5em;
    animation: slide_up 1.4s ease;
}

.inner>p {
    font-size: 1.2em;
    animation: slide_up 2.1s ease;
}

.h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.inner>button {
    margin-top: 2em;
    padding: 1em 2.5em;
    font-size: 1em;
    border-radius: 4em;
    border: none;
    background-color: yellowgreen;
    color: black;
    animation: slide_up 3.1s ease;
}

.text {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button:hover {
    background-color: white;
    color: black;
}

@keyframes slide_up {
    0% {
        transform: translatey(250px);
    }
    100% {
        transform: translatey(0px);
        }
      #sideright {
      background-color:white;
      margin-top:0px;
      margin-right:0px;
      margin-bottom:0px;
      margin-left:0px;
      border-radius:0px;
      padding:0px;
      width:50px;
      float:left;
      clear:left;
      }
       #main {
      background-color:white;
      margin-top:0px;
      margin-right:50px;
      margin-bottom:0px;
      margin-left:0px;
      border-radius:0px;
      padding:0px;
     
      }
 .icons{
      top:50%;
      right:0;
      transform:translateY(-50%);
      position:absolute;
      z-index:100;
     }
.icons ul{
     padding:initial;
     }
.icons ul li{
   height:40px;
   width:40px;
   list-style-type:none;
   padding-left:12px;
   padding-top:6px;
   margin-top:5px;
   color:white;
}
.facebook{
    background:#007bb5;
}
.twitter{
    background: #55acee;
}
.youtube{
   background: #ff0000;
}
.linkedin{
   background: #007bb5;
}
.instagram{
    background: #e95950;
}
.icons ul li:hover{
    padding-left: 30px;
    width:80px;
    transition: 1s;
}





