h1   {
	 color:white;
	margin-left:5px;
        margin-right:5px;
        margin-top:10px;
	height:38px;
	text-align:center;
	line-height:50px;
	border-radius:10px;
	background-color:rgb(86,205,196);
	animation-name:example;
	animation-duration:7s;
        padding-bottom:5px;
        font-weight:bold;
        width:1020px;
	}
   @keyframes example {
         0% { background-color:rgb(225,47,96);}
         25%{ background-color:rgb(223,74,223);}
         50%{background-color:rgb(86,205,196);}
         100%{background-color:rgb(251,46,40);}
              }
	
	
h3{
	
	
	width:500px;
	padding:10px;
	
	}
.timetable{
	border-collapse:collapse;
	margin:25px 0;
	font-size;0.9em;
	min-width:400px;
	font-family:verdana;
	text-align:center;
	border-radius:5px 5px 0 0;
	overflow:hidden;
	margin-left:auto;
        margin-right:auto;
	

	}
.timetable thead tr{
	background-color:#FF1493;
	color:#ffffff;
	text-align:center;
	font-weight:bold;
	
	}
.timetable th,
.timetable td{
	padding:3px 7px;
	}
.timetable tbody tr{
	border-bottom:2px solid #dddddd;
	
	}
.timetable tbody tr:nth-of-type(even){
	background-color:#40E0D0;
	
	}
.timetable tbody tr:nth-of-type(odd){
	background-color:#40E0D0;
	
	}
.timetable tbody tr:last-of-type{
	border-bottom:2px solid #009879; 
	}
#right{
	font-family:verdana;
	opacity:0.5;
	}
.box{
	border:3px;
	border-style:solid;
	border-color:black;
	height:2500px;
	width:1010px;
	margin-left:16px;
	padding-right:20px;
	padding-left:0px;
	padding-top:20px;
	}